@model PFMO.Entities.Personnel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Panel</a>
            </li>
            <li>
                <a href="#">Personnel</a>
            </li>
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create Personnel</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
                {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(model => model.PersonnelLastName, new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PersonnelLastName)
                @Html.ValidationMessageFor(model => model.PersonnelLastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonnelFirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PersonnelFirstName)
                @Html.ValidationMessageFor(model => model.PersonnelFirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonnelGender, new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PersonnelGender)
                @Html.ValidationMessageFor(model => model.PersonnelGender)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Designation</label>
            @*@Html.LabelFor(model => model.PersonnelDesignationID, "PersonnelDesignationID", new { @class = "control-label col-md-2" })*@
            <div class="col-md-9">
                @Html.DropDownList("PersonnelDesignationID", String.Empty)
                @Html.ValidationMessageFor(model => model.PersonnelDesignationID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonnelRemarks, new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PersonnelRemarks)
                @Html.ValidationMessageFor(model => model.PersonnelRemarks)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Section</label>
            @*@Html.LabelFor(model => model.SectionID, "SectionID", new { @class = "control-label col-md-2" })*@
            <div class="col-md-9">
                @Html.DropDownList("SectionID", String.Empty)
                @Html.ValidationMessageFor(model => model.SectionID)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Project Team</label>
            @*@Html.LabelFor(model => model.ProjectTeamID, "ProjectTeamID", new { @class = "control-label col-md-2" })*@
            <div class="col-md-9">
                @Html.DropDownList("ProjectTeamID", String.Empty)
                @Html.ValidationMessageFor(model => model.ProjectTeamID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonnelHireDate, new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PersonnelHireDate)
                @Html.ValidationMessageFor(model => model.PersonnelHireDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonnelContactNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PersonnelContactNumber)
                @Html.ValidationMessageFor(model => model.PersonnelContactNumber)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
            </div>
        </div>
    </div>


                </div>

                }
            </div>
        </div>
    </div>
 </div>
</div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
