@model IEnumerable<PFMO.Entities.Supply>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Supplies</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Panel</a>
            </li>
            <li>
                <a href="#">Supplies</a>
            </li>
            <li class="active">
                <strong>@Html.ActionLink("List", "Index")</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Supply</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

                    <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search Equipment">
                    <table class="footable table table-hover" data-filter=#filter data-page-size="5">

                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Project.ProjectName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplyCategory.SupplyCategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplyCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplyRemarks)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplyStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplyBalance)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplyUnit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplyReorderPoint)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Target)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplyExpiryDate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplyCategory.SupplyCategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplyCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplyRemarks)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplyStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplyBalance)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplyUnit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplyReorderPoint)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Target)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplyExpiryDate)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = item.SupplyID }, new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Edit", "Edit", new { id = item.SupplyID }, new { @class = "btn btn-white btn-sm" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.SupplyID }, new { @class = "btn btn-white btn-sm" })
                                    </td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>

                    </table>

                </div>
            </div>
        </div>
    </div>
 </div>



